<section class="bg-white dark:bg-gray-900">
<app-navbar></app-navbar>
  <div class="container px-6 py-16 mx-auto text-center">
    <div>
      <h1 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">RecycleHub: Transform Waste, Earn Rewards</h1>
      <p class="max-w-lg mx-auto text-center mt-6 text-gray-500 dark:text-gray-300">RecycleHub ♻️ connects individuals with certified waste collectors, making recycling easy, efficient, and impactful.</p>
    </div>

    <div class="flex justify-center mt-10">
      <img class="object-cover w-full h-96 rounded-xl lg:w-4/5" src="assets/images/pa_wrap_recycle_013.webp" />
    </div>
    <app-about></app-about>

  </div>
  <app-contact></app-contact>
</section>
<app-footer></app-footer>

