<div  id="about" class="container px-6 py-16 mx-auto ">
  <div class="items-center lg:flex ">
    <div class="w-full  lg:w-3/5  ">
      <div class="lg:max-w-3xl">
        <h1 class="text-3xl text-left font-semibold text-gray-800 dark:text-white lg:text-5xl">🌱 Why We Exist ?</h1>
        <p class="mt-6 text-gray-600 text-left dark:text-gray-400">Every day, tons of recyclable materials end up in landfills, polluting the environment. RecycleHub was created to change that. Our platform empowers individuals to take action by making recycling as easy as a few clicks.</p>
        <div class="grid gap-6 mt-8 sm:grid-cols-2">
          <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>

            <span class="mx-3">Simplify waste collection</span>
          </div>

          <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>

            <span class="mx-3">Reduce landfill waste</span>
          </div>

          <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>

            <span class="mx-3">Encourage responsible consumption</span>
          </div>

          <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>

            <span class="mx-3">Certified Collectors</span>
          </div>

          <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>

            <span class="mx-3">Effortless Recycling</span>
          </div>

          <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>

            <span class="mx-3">Financially rewarding</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center w-full  lg:mt-0 lg:w-2/5">
      <img class="w-full h-full lg:max-w-3xl" src="assets/images/protecting%20the%20environment-amico.png" alt="Catalogue-pana.svg">
    </div>
  </div>
</div>
  <div class="container px-6 py-12  mx-auto text-left rounded-lg shadow-lg shadow-green-500/60">
    <div class="grid grid-cols-1  gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class=" border-r border-r-green-400 pr-1">
        <h1 class="mt-4 text-2xl font-semibold text-gray-800 dark:text-white">♻️ Our Mission</h1>

        <p class="mt-2 text-gray-500 dark:text-gray-400">At RecycleHub, we are committed to making waste management simple, accessible, and impactful for everyone.</p>
      </div>
      <div class=" border-r border-r-green-400">
        <h1 class="mt-4 text-2xl font-semibold text-gray-800 dark:text-white">💡 Our Vision</h1>

        <p class="mt-2 text-gray-500 dark:text-gray-400">To build a sustainable future where waste is a resource, not a problem.</p>
      </div>

      <div>

        <h1 class="mt-4 text-2xl font-semibold text-gray-800 dark:text-white">🤝 Join Us</h1>

        <p class="mt-2 text-gray-500 dark:text-gray-400">Become a part of our mission to create cleaner cities and a healthier planet. Every action counts.</p>
      </div>
    </div>
  </div>

