<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
  <h2 class="text-3xl font-semibold text-gray-700  capitalize dark:text-white">Account settings</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSave()">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="firstName">firstName</label>
        <input id="firstName" formControlName="firstName" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-green-300">
        <small
          *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched"
          class="text-red-500"
        >
          First name is required
        </small>
      </div>
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="lastName">lastName</label>
        <input id="lastName" formControlName="lastName" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-green-300">
        <small
          *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched"
          class="text-red-500"
        >
          Last name is required
        </small>
      </div>
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="address">address</label>
        <input id="address" formControlName="address" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-green-300">
        <small
          *ngIf="userForm.get('address')?.invalid && userForm.get('address')?.touched"
          class="text-red-500"
        >
          Address is required
        </small>
      </div>
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="phone">phone</label>
        <input id="phone" type="number" formControlName="phone" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-green-300">
        <small
          *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched"
          class="text-red-500"
        >
          Valid phone number is required
        </small>
      </div>
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="birthDate">Birth Date</label>
        <input id="birthDate" formControlName="birthDate" type="date" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-green-300">
        <small
          *ngIf="userForm.get('birthDate')?.invalid && userForm.get('birthDate')?.touched"
          class="text-red-500"
        >
          Valid birth date is required
        </small>
      </div>
    </div>
    <div class="flex justify-end mt-6">
      <button
        type="submit"
        [disabled]="userForm.invalid"
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-green-700 rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600">Save</button>
    </div>
  </form>
</section>
<section class="max-w-4xl p-6 mt-4 mx-auto bg-red-300/30 rounded-md shadow-md dark:bg-gray-800">
  <h2 class="text-3xl font-semibold text-gray-700  capitalize dark:text-white">Delete Your Account</h2>
  <p class="text-gray-700">Permanently remove your Account and all of its contents from the RecycleHub platform. This action is not reversible, so please continue with caution.</p>
  <div class="flex justify-end mt-6">
    <button
      (click)="deleteAccount()"
      class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-red-700 rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">Delete Account</button>
  </div>
</section>
